li {
  float: left;
  margin-top: 15px;
}
li > a {
  color: black;
  font-size: 1.3em;
}
.currentLink {
  text-decoration: underline;
}
h2 {
  margin-top: 5%;
  font-size: 2.5em;
}
hr {
  width: 25%;
}
input {
  font-size: 1.3em;
  margin: 15px;
}
button {
  font-size: 1.2em;
}
#s-media {
  margin-top: 50px;
}

#show-incorrect {
  color: rgb(255, 29, 29);
}
